In [1]:
import pandas as pd

### Data Types: all objects in python have a type. You can check the type by using the _type()_ function. Here are a few standard ones

In [2]:
type(1.5)

float

In [3]:
type(3)

int

In [4]:
type('abc')

str

In [5]:
type(True)

bool

### You can convert between types.

In [6]:
float(1)

1.0

In [7]:
str(1)

'1'

In [8]:
int('9')

9

In [9]:
int(9.9)

9

### DataFrames also have a type

In [10]:
accidents = pd.read_csv('../data/Traffic_Accidents__2019_.csv')

In [11]:
type(accidents)

pandas.core.frame.DataFrame

### And each column has a type

In [12]:
accidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34692 entries, 0 to 34691
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Accident Number             34692 non-null  int64
 1   Date and Time               34692 non-null  object
 2   Number of Motor Vehicles    34692 non-null  int64
 3   Number of Injuries          34692 non-null  int64
 4   Number of Fatalities        34692 non-null  int64
 5   Property Damage             2495 non-null   object
 6   Hit and Run                 34691 non-null  object
 7   Reporting Officer           34684 non-null  float64
 8   Collision Type Code         34688 non-null  float64
 9   Collision Type Description  34688 non-null  object
 10  Weather Code                34641 non-null  float64
 11  Weather Description         34641 non-null  object
 12  Illumination Code           34665 non-null  float64
 13  Illumination Description    34665 non-null  object
 14  Harmful Code                34692 non-null  object
 15  Harmful Code Description    34333 non-null  object
 16  Street Address              34691 non-null  object
 17  City                        34692 non-null  object
 18  State                       34692 non-null  object
 19  ZIP                         34658 non-null  float64
 20  RPA                         34681 non-null  float64
 21  Precinct                    34681 non-null  object
 22  Latitude                    34670 non-null  float64
 23  Longitude                   34670 non-null  float64
 24  Mapped Location             34670 non-null  object
dtypes: float64(8), int64(4), object(13)
memory usage: 6.6+ MB

Notice that quite a few of the columns are of the "object" type. By default, pandas will convert text data into the object datatype.

You can convert between types using the `.astype` method. For example, if we needed to treat the accident number as text instead of an integer, we could use the following:

In [13]:
accidents['Accident Number'] = accidents['Accident Number'].astype(str)

In [14]:
accidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34692 entries, 0 to 34691
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Accident Number             34692 non-null  object
 1   Date and Time               34692 non-null  object
 2   Number of Motor Vehicles    34692 non-null  int64
 3   Number of Injuries          34692 non-null  int64
 4   Number of Fatalities        34692 non-null  int64
 5   Property Damage             2495 non-null   object
 6   Hit and Run                 34691 non-null  object
 7   Reporting Officer           34684 non-null  float64
 8   Collision Type Code         34688 non-null  float64
 9   Collision Type Description  34688 non-null  object
 10  Weather Code                34641 non-null  float64
 11  Weather Description         34641 non-null  object
 12  Illumination Code           34665 non-null  float64
 13  Illumination Description    34665 non-null  object
 14  Harmful Code                34692 non-null  object
 15  Harmful Code Description    34333 non-null  object
 16  Street Address              34691 non-null  object
 17  City                        34692 non-null  object
 18  State                       34692 non-null  object
 19  ZIP                         34658 non-null  float64
 20  RPA                         34681 non-null  float64
 21  Precinct                    34681 non-null  object
 22  Latitude                    34670 non-null  float64
 23  Longitude                   34670 non-null  float64
 24  Mapped Location             34670 non-null  object
dtypes: float64(8), int64(3), object(14)
memory usage: 6.6+ MB

Notice that the `Date and Time` column is currently being treated as an `object`. This would make it quite difficult to do comparisions or aggregations, for example, between months or days of the week.

Fortunately, we can convert it to a more useful data type, the `datetime` data type.

In order to do this, we can use the `pd.to_datetime` function.

If we don't tell it otherwise, this function will infer the different date and time components of the string. This can be slow, especially when we have a large number of rows of data.

However, we can help it out be being explicit about the format. To do this, you will have to use datetime symbols: https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

In [ ]:
accidents['Date and Time'] = pd.to_datetime(accidents['Date and Time'], 
                                            format = '%m/%d/%Y %I:%M:%S %p')

In [ ]:
# Now the column is a datetime64[ns]
accidents.dtypes

In [ ]:
# The values in the Date and Time column look different now
accidents.head()

In [ ]:
# And we can see each value is a timestamp
accidents.loc[0, 'Date and Time']

### Once you have a `datetime` object, you can pull out [individual parts](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html)
- Use `.dt` to specify a datetime attribute/function and then what you want to pull out
- Pull out the month from the 'Date and Time' column and save it to a new column called 'month'

In [ ]:
accidents['month'] = accidents['Date and Time'].dt.month
accidents.head()

### Now, let's see if we can take advantage of the datetime format to answer some questions.

#### Question 1: What is the maximum number of cars involved in a single accident in July?
- First, subset the `accidents` DataFrame to get the July accidents
- Then, find the maximum `Number of Motor Vehicles` for accidents that happened in July

In [ ]:
# Fill in the code here

And if we want to get more information on this accident, we can use the `nlargest` method.

In [ ]:
accidents[accidents['month']==7].nlargest(1, 'Number of Motor Vehicles')

#### Question 2: How many total accidents happened in December?

In [ ]:
# Fill in the code here

### There are [many different attributes associated with datetimes](https://towardsdatascience.com/working-with-datetime-in-pandas-dataframe-663f7af6c587)

In [ ]:
accidents['Date and Time'].dt.time.head()

In [ ]:
accidents['Date and Time'].dt.date.head()

In [ ]:
accidents['Date and Time'].dt.day_name().head()

In [ ]:
accidents['Date and Time'].dt.is_leap_year.head()

### You can use comparison symbols on `datetime` objects as well

In [ ]:
# How many accidents happened before March 3
(accidents['Date and Time'] < '03/03/2019').sum()

# Note: You have to input the comparison value as a string,
# but the format can vary and pandas will attempt to infer the format.
# Try putting in different formats and rerunning this cell.

### You can also perform calculations on `datetime` objects

The difference of datetime objects is a [Timedelta](https://pandas.pydata.org/docs/reference/api/pandas.Timedelta.html).

In [ ]:
# How long between the 1st and 101th accident?
accidents = accidents.sort_values('Date and Time')
accidents.loc[100, 'Date and Time'] - accidents.loc[0, 'Date and Time']

# It appears as a Timedelta, or a change in time